<!doctype html>
<html lang="en">

<head>
    <title>DCPhone Giỏ hàng</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assest/css/app.css">

    <style>
        
    </style>
</head>

<body ng-app="myapp">
    <main ng-controller="myCtrl">
        <div class="container mt-5">
            <form class="needs-validation " name="frmthanhtoan" method="post" action="#">
                <input type="hidden" name="kh_tendangnhap" value="dnpcuong">
                <div class="py-5 text-center">
                    <i class="fa fa-solid fa-cart-shopping fa-4x mt-5" aria-hidden="true"></i>
                    <h2>giỏ hàng</h2>
                    <p class="lead">Vui lòng kiểm tra thông tin Giỏ hàng trước khi Đặt hàng.
                    </p>
                </div>
        </div>
        <div class="container">
            <table id="cart" class="table table-hover table-condensed" ng-repeat="prod in cart">
                <thead>
                    <tr>
                        <th style="width:50%">Tên sản phẩm</th>
                        <th style="width:10%">Giá</th>
                        <th style="width:8%">Số lượng</th>
                        <th style="width:22%" class="text-center">Thành tiền</th>
                        <th style="width:10%"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-th=" Sản phẩm">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs"><img src="{{prod.images}}" alt="Sản phẩm 1"
                                        class="img-responsive" width="100">
                                </div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">{{prod.title}}</h4>
                                    <p>{{prod.mt}}</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Giá">{{prod.newprice | currency : "VND " : 0}}đ</td>
                        <td data-th="Số lượng">
                            <div class="amount-product-buy d-flex justify-content-center">
                                <a class="minus-product bg-dark bg-opacity-25  px-2" ng-click="minus($index)">
                                    <i class="bi bi-dash fw-bolder text-dark fs-5"></i>
                                </a>
                                <div class="amount-product fs-5  px-2 border border-1">{{prod.quantity}}</div>
                                <a class="add-plus bg-dark bg-opacity-25 px-2">
                                    <i class="bi bi-plus-lg fw-bolder text-dark fs-5" ng-click="plus($index)"></i>
                                </a>
                            </div>
                        </td>
                        <td data-th="Tổng tiền" class="text-center">{{prod.total | currency : "VND " : 0}} đ</td>
                        <td class="actions" data-th="">
                            <button class="btn btn-danger btn-sm" ng-click="removeItem($index)"><i
                                    class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="cart-payment mt-5 sticky-bottom z-1 bg-light">
                <div class="row border border-1 py-4 align-items-center mt-3 shadow-lg">
                    <div class="col-sm-6">
                        <div class="cart-payment-left d-flex hstack gap-3">
                            <a href="" class="btn btn-warning"><i class="fa fa-angle-left"></i>
                                Tiếp tục mua hàng</a>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cart-payment-right  d-flex align-items-center justify-content-between hstack gap-3">

                            <strong>Tổng tiền: {{getTotalPrice() | currency : "VND " : 0}} </strong>
                            <a class="btn btn-success btn-block" ng-click="tt()">Thanh toán
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>