<section>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="p-2 mb-2 bg-info text-white">
                        <h3><i class="fa fa-chevron-right text-danger" aria-hidden="true"></i> TẤT CẢ SẢN PHẨM</h3>
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
                        <div class="col py-3" ng-repeat="product in products | filter: 'iphone'">
                            <div class="card h-100 shadow-sm card-item">
                                <div class="text-center">
                                    <img src="{{product.images}}" class="card-img-top img-fluid py-3">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{product.title}}</h5>
                                    <p class="card-text">
                                        <span class="new-price">{{product.newprice}}</span>
                                        <s>{{product.oldprice}}</s>
                                    </p>
                                    <span class="star-rating">
                                        <i class="fa fa-star" aria-hidden="true"
                                            ng-repeat="item in getProductStars(product.star) track by $index"
                                            ng-class="{'active': $index < item}"></i>
                                    </span> | {{product.rate}} đánh giá
                                </div>
                                <div class="card-footer">
                                    <span><a href="{{product.link}}">XEM CHI TIẾT</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
